@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #111111;
}

.texto{
    color: #fff;
    font-size: 1.2rem;
}

#comeco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5rem;
    color: #fff;
}

#btn-comecar{
    background: #242424;
    color: #dadada;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#btn-comecar:hover{
    background: #dadada;
    color: #242424;
    animation: btn-comecar 0.5s ease-in-out infinite alternate;
}

@keyframes btn-comecar{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

#explicacao{
    color: #dadada;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#explicacao > h2{
    font-size: 4rem;
}

#explicacao > p{
    font-size: 1.5rem;
    margin: 1rem 0;
}

#explicacao > button{
    background: #242424;
    color: #dadada;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#explicacao > button:hover{
    background: #dadada;
    color: #242424;
    animation: btn-comecar 0.5s ease-in-out infinite alternate;
}

#exemplos{
    display: flex;
    color: #dadada;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#exemplos > h2{
    font-size: 4rem;
}

#exemplos > ul{
    font-size: 2rem;
    list-style: none;
    margin: 1rem 0;
}

#exemplos > button {
    background: #242424;
    color: #dadada;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
}

#exemplos > button:hover{
    background: #dadada;
    color: #242424;
    animation: btn-comecar 0.5s ease-in-out infinite alternate;
}
