@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Variáveis */
:root{
    --vermelho: #fd3131;
    --verde: #3bfb3b;
    --verde-escuro: #289328;
    --bg-btn: #242424;
    --bg-btn-hover: #dadada;
    --text-color: #dadada;
    --text-color-hover: #000000;
}

/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #111111;
    -webkit-user-select: none;
    user-select: none;
}

#amongus-character {
    position: absolute;
    bottom: 50%; /* Alterado para 50% para mover o personagem para o meio da tela */
    left: -100px; /* Inicia fora da tela */
    width: 100px;
    height: auto;
    animation: moverAmogus 12s linear, descendo 10s linear;
    z-index: 0;
}

@keyframes moverAmogus {
    0% { 
        left: -100px; 
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% { 
        left: 100%; 
        transform: rotate(-360deg);
    }
}

@keyframes descendo {
    0% {
        bottom: 50%;
    }
    100% {
        bottom: 35%;
    }
}


#tsparticles {
    position: relative;
    z-index: -1;
}

.texto-vermelho{
    color: var(--vermelho);
}

.texto-verde{
    color: var(--verde);
}

.texto{
    color: var(--text-color);
    font-size: 1.2rem;
}

.bold{
    font-weight: bold;
}

#comeco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5rem;
    color: var(--text-color);
}

#btn-comecar{
    background: var(--bg-btn);
    color: var(--text-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#btn-comecar:hover{
    background: var(--bg-btn-hover);
    color: var(--text-color-hover);
    animation: btn-comecar 0.5s ease-in-out infinite alternate;
}

/*Animacao botão pulsando*/
@keyframes btn-comecar{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

#explicacao{
    color: var(--text-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#explicacao > h2{
    font-size: 4rem;
}

#explicacao > p{
    font-size: 1.5rem;
    margin: 1rem 0;
}

#explicacao > button{
    background: var(--bg-btn);
    color: var(--text-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#explicacao > button:hover{
    background: var(--bg-btn-hover);
    color: var(--text-color-hover);
    animation: btn-comecar 0.5s ease-in-out infinite alternate;
}

#exemplos{
    display: flex;
    color: var(--text-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#exemplos > h2{
    font-size: 4rem;
}

#exemplos > ul{
    font-size: 2rem;
    list-style: none;
    margin: 1rem 0;
}

#exemplos > button {
    background: var(--bg-btn);
    color: var(--text-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
}

#exemplos > button:hover{
    background: var(--bg-btn-hover);
    color: var(--text-color-hover);
    animation: btn-comecar 0.5s ease-in-out infinite alternate;
}

#preparados{
    display: flex;
    color: var(--text-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#preparados > h2{
    font-size: 4rem;
}

#preparados > h5{
    font-size: 2rem;
    margin: 0.5rem 0;
}

#preparados > button{
    background: var(--bg-btn);
    color: var(--text-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
}

#preparados > button:hover{
    background: var(--bg-btn-hover);
    color: var(--text-color-hover);
    animation: btn-comecar 0.5s ease-in-out infinite alternate;
}

#desafio{
    display: flex;
    color: var(--text-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#desafio > h2{
    font-size: 4rem;
}

#desafio > .respostas{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

#desafio > .respostas > button{
    background: var(--bg-btn);
    color: var(--text-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    height: 70px;
    width: 150px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
}

#desafio > .respostas > .btn-resposta-verdade:hover{
    background: var(--verde-escuro);
    color: var(--text-color-hover);
    animation: btn-comecar 0.5s ease-in-out infinite alternate;
}

#desafio > .respostas > .btn-resposta-falso:hover{
    background: var(--vermelho);
    color: var(--text-color-hover);
    animation: btn-comecar 0.5s ease-in-out infinite alternate;
}

#resposta1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#resposta1 > h2{
    font-size: 4rem;
}

#resposta1 > button{
    background: var(--bg-btn);
    color: var(--text-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
}

#resposta1 > button:hover{
    background: var(--bg-btn-hover);
    color: var(--text-color-hover);
    animation: btn-comecar 0.5s ease-in-out infinite alternate;
}
